html {
	background: #f3f3f3;
	font-family: Consolas, Courier New, monospace;
	overflow: scroll;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
}

div input {
	max-width: 100px;
	align-self: center;
}

table,
tbody {
	max-width: min-content;
	align-self: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

th,
td {
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	padding-right: 10px;
}

.timeOn,
.timeOff {
	max-width: 50px;
}

.container {
	flex-direction: column;
	align-content: space-around;
}

div.container {
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	.container {
		background: f3f3f3;
		border-style: none;
	}
}
