html {
	background: #f3f3f3;
	font-family: Consolas, Courier New, monospace;
	overflow: scroll;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
}

div input {
	max-width: 100px;
	align-self: center;
}

table,
tbody {
	max-width: min-content;
	align-self: center;
}

th,
td {
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 100px;
}

.timeOn,
.timeOff {
	max-width: 50px;
}

.container {
	flex-direction: column;
	align-content: space-around;
}

div.container {
	overflow: hidden;
}

@media screen and (max-width: 600) {
	table#relay-table {
		transform: rotate(270deg);
		border-collapse: collapse;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	table#relay-table th,
	table#relay-table td {
		transform: rotate(90deg);
		padding-left: 0;
		padding-right: 0;
		height: 150px;
		min-width: 50px;
	}
}
