html {
	background: #f3f3f3;
	font-family: Consolas, Courier New, monospace;
	overflow: scroll;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	flex-direction: column;
}

div.container {
	overflow: hidden;
}

table {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
}

th,
td {
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-bottom: 1px solid #ddd;
}

td span {
	display: block;
}

td input {
	display: block;
}

.header {
	border-style: solid;
	background-color: white;
	overflow: hidden;
}

@media screen and (max-width: 800px) {
	body {
		align-items: flex-start;
	}

	.responsive {
		position: relative;
	}
}
