<!DOCTYPE html>
<html>
	<head>
		<title>Growroom Monitor</title>
	</head>
	<body>
		<h1>Grow Room</h1>
		<div>
			Air temperature: <span id="air-temp"></span><br />
			Air humidity: <span id="air-humidity"></span><br />
			Water temperature: <span id="water-temp"></span><br />
			Water level low?: <span id="water-level"></span><br />
			Water loop running?: <span id="loop-status"></span> <br />
			<br />
			<input id="refresh-toggle" type="checkbox" /> Update every 5 seconds <br /><br />
			<input id="update" type="button" value="Update" /><br /><br />
			<input id="toggle-loop" type="button" value="Toggle Water Loop" />
		</div>
	</body>
	<script src="/static/index.js"></script>
</html>
